:root {
  --light-purple: #cecbef;
  --purple: #501e96;
  --font-grey: #71706f;
  --white: #ffffff;
}

.map-table-container {
  display: flex;
  flex-direction: row;
  margin-top: 7vh;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  gap: 3vw;
}

.enlarge:hover {
  transform: scale(1.4);
}
