.form-container {
  width: 40vw;
  height: 67vh;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  border-radius: 10px;
}

h2 {
  margin: 0 1vw;
}

.inputbox-container {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  margin: 0 1vw;
}

label {
  font-size: 15px;
}

input {
  height: 5vh;
  border-radius: 10px;
  border: solid 1px;
  padding-left: 0.5vw;
}

.inputbox-container > input {
  box-shadow: 0 10px 10px #ccc;
}

.submit-button {
  height: 5vh;
  border: none;
  background-color: var(--purple);
  color: white;
  font-weight: bold;
  margin: 2vh 1vw;
  border-radius: 10px;
}

.submit-button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.addPostFormContainer {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 30px;
  cursor: pointer;
}
h2 {
  color: var(--purple);
}
