.form-container {
  width: 40vw;
  height: 67vh;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  /* background-color: var(--light-purple); */
  border-radius: 10px;
  /* box-shadow: 0 10px 10px #ccc; */
}

h2 {
  margin: 0 1vw;
}

.inputbox-container {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  margin: 0 1vw;
}

input {
  height: 5vh;
  border-radius: 10px;
  border: solid 1px;
  /* box-shadow: 0 10px 10px #ccc; */
  padding-left: 0.5vw;

  /* border: none; */
}

.inputbox-container > input {
  box-shadow: 0 10px 10px #ccc;
}

.submit-button {
  height: 5vh;
  border: none;
  background-color: var(--purple);
  color: white;
  font-weight: bold;
  margin: 2vh 1vw;
  border-radius: 10px;
}
