button {
  border: none;
  background: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.delete-btn {
  color: red;
  margin-right: 1vw;
}

.update-btn {
  color: green;
}

.dataTable {
  width: 50vw;
}

.flyto-btn {
  margin-left: 1vw;
  color: var(--purple);
}

.rdt_TableBody {
  height: 60vh;
}

.rdt_TableHead {
  height: 8vh;
}
.rdt_TableFooter {
  height: 10vh;
}
.destinationtext {
  font-weight: bold;
  font-size: 30px;
  color: var(--purple);
}

.addbutton {
  background: var(--purple);
  color: white;
  height: 6vh;
  padding-right: 1vw;
  padding-left: 1vw;
  border-radius: 8px;
  font-weight: bold;
  margin-left: 2vw;
  font-size: 24px;
}
.enlargesmall:hover {
  transform: scale(1.05);
}
.tabletop {
  display: flex;
  justify-content: space-between;
}
